@import "../../../mixins.scss";

.signUp {
  display: flex;
  align-items: center;
  height: 92vh;
  @include md {
    overflow-y: hidden;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include md {
      justify-content: space-between;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: rgba(29, 130, 133, 0.38);
      border-radius: 50%;
      width: 400px;
      height: 400px;
      left: -70px;
      bottom: -140px;
      transform: rotate(-30deg);
      z-index: -1;

      @include lg {
        width: 500px;
        height: 500px;
        left: -100px;
        bottom: -210px;
      }
    }
  }
  &__image {
    display: none;
    @include md {
      display: block;
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include md {
      padding:  100px;
      text-align: left;
         align-items: normal;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__input {
      width: 100%;
      padding: 20px 0 !important;
      border: 1px solid #ccc;
      border-radius: 13px;
      font-size: 16px;

    }
  }
  &__input {
    width: 100%;
    padding: 20px 0 !important;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 16px;
  }
  &__password {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .togglePass {
      position: absolute;
      top: 40%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      color: var(--Neutral-color);
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__btn {
    width: 100%;
    padding: 12px;
    background: #00796b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #004d40;
    }
  }
}
